{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
{% endblock %}

{% block content %}

<div class="login-page">

    <div class="login-box">

        <!-- Left Panel -->

        <div class="login-left">

            <h2>Login</h2>

            <p>
                Get access to your Orders,<br>
                Wishlist and Recommendations.
            </p>

            <div class="feature-list">

                <div class="feature">
                    <i class="fa-solid fa-truck-fast"></i>
                    <span>Fast Delivery</span>
                </div>

                <div class="feature">
                    <i class="fa-solid fa-shield-halved"></i>
                    <span>Secure Payments</span>
                </div>

                <div class="feature">
                    <i class="fa-solid fa-tags"></i>
                    <span>Best Deals Everyday</span>
                </div>

                <div class="feature">
                    <i class="fa-solid fa-rotate-left"></i>
                    <span>Easy Returns</span>
                </div>

            </div>

        </div>

        <!-- Right Panel -->

        <div class="login-right">

            <form method="POST">

                <div class="input-box">

                    <i class="fa-solid fa-user"></i>

                    <input
                        type="text"
                        name="username"
                        placeholder="Enter Email / Mobile Number"
                        required>

                </div>

                <div class="input-box">

                    <i class="fa-solid fa-lock"></i>

                    <input
                        type="password"
                        name="password"
                        placeholder="Enter Password"
                        required>

                </div>

                <button class="login-btn" type="submit">

                    Login

                </button>

            </form>

            <p class="terms">

                By continuing, you agree to Flipkart's

                <a href="#">Terms of Use</a>

                &

                <a href="#">Privacy Policy</a>

            </p>

            <div class="divider">

                <span>OR</span>

            </div>

            <button class="google-btn">

                <i class="fa-brands fa-google"></i>

                Login with Google

            </button>

            <div class="signup">

                New to Flipkart?

                <a href="#">

                    Create an account

                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}